.ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.ButtonStyle {
    margin-top: 10px;
    padding: 10px 0px;
    width: 70px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 2px solid black;
}

.ClearButton {
    background-color: #a8a8a8;
    /* Red color for the clear button */
}

.RedButton {
    background-color: #e74c3c;
    /* Red color for the brush button */
}

.BlueButton {
    background-color: #3498db;
    /* Blue color for the brush button */
}

.BlackButton {
    background-color: #000000;
    /* Dark gray color for the brush button */
}


.ButtonRow {
    display: flex;
    flex-direction: row;
}

.SmallButton {
    margin: 10px;
    padding: 10px 5px;
    width: 25px;
    background-color: #1d2023;
}



  .ButtonStyle:active {
    opacity: 0.3; /* Darken the background on click */
  }
  
  .ButtonStyle:disabled {
    background-color: #ccc; /* Light gray for disabled state */
    cursor: not-allowed;
  }